{% extends "base.html" %}
{% block title %}Login{% endblock %}



{% block content_section %}

<div class="div-settings-container">

    <div class="div-settings-menu">
                <div class="divider"></div>
                <button class="menu-item" id="NameChange">
                    <span class="menu-icon">&#128100;</span>
                    <span>{{ _('Name') }}</span>
                </button>
                <div class="divider"></div>
                <button class="menu-item" id="EmailChange">
                    <span class="menu-icon">&#128231;</span>
                    <span>{{ _('Email') }}</span>
                </button>
                <div class="divider"></div>
                <button class="menu-item" id="PasswordChange">
                    <span class="menu-icon">&#128274;</span>
                    <span>{{ _('Password') }}</span>
                </button>
                <div class="divider"></div>
                <button class="menu-item" id="LanguageChange">
                    <span class="menu-icon">{{ flags[current_locale] }}</span>
                    <span>{{ _('Language') }}</span>
                </button>
                <div class="divider"></div>

    </div>
   
   
    <div class="div-settings-content">

        
        
            <form method = "POST" action = "/settings-password">
                <div class = "div-sign-up-container">
                    <h1 class = "header-sign-up" align="center">{{ _('Change password') }}</h1>
                    <div class="divider"></div>
                    <div class = "div-register-form">
                        <label 
                        class = "label-register" 
                        for="password">{{ _('Current password') }}</label>

                        <input 
                        type="password" 
                        class = "input-register" 
                        id="oldpassword" 
                        name="oldpassword" 
                        placeholder="{{ _('Enter old password') }}" >

                    </div>

                    <div class = "div-register-form">
                        <label 
                        class = "label-register" 
                        for="password">{{ _('New password') }}</label>

                        <input 
                        type="password" 
                        class = "input-register" 
                        id="newpassword1" 
                        name="newpassword1" 
                        placeholder="{{ _('Enter new password') }}" >

                    </div>
                    <div class = "div-register-form">
                        <label 
                        class = "label-register" 
                        for="password">{{ _('New password') }}</label>

                        <input 
                        type="password" 
                        class = "input-register" 
                        id="newpassword2" 
                        name="newpassword2" 
                        placeholder="{{ _('Repeat new password') }}" >

                    </div>
                    

                    <div type="submit" class = "div-submit-button">
                        <button class = "login-button">
                            {{ _('Submit') }}
                        </button>
                    </div>
            
                </div>
            </form>
        
    </div>
</div>
 {% endblock %}