{% extends "base.html" %}
{% block title %}{{ _('Login') }}{% endblock %}



{% block content_section %}
<form method = "POST" action = "/login">
    <div class = "div-sign-up-container">
        <h1 class = "header-sign-up" align="center">{{ _('Login') }}</h1>
        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="email">{{ _('Email Address') }}</label>

            <input 
            type="email" 
            class = "input-register" 
            id="email" 
            name="email" 
            placeholder="Enter email" >

        </div>

        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">{{ _('Password') }}</label>

            <input 
            type="password" 
            class = "input-register" 
            id="password" 
            name="password" 
            placeholder="Enter password" >

        </div>
        <p>
            {{ _("Don't have an account? Please") }} <a href = "/signup">{{ _('Sign In') }}</a>.
        </p>

        <div class = "div-submit-button">
            <button class = "login-button">
                {{ _('Login') }}
            </button>
        </div>
 
    </div>
</form>
{% endblock %}