{% extends "base.html" %}
{% block title %}Login{% endblock %}



{% block content_section %}
<h1>Settings</h1>
<form method = "POST" action = "/settings">
    <div class = "div-sign-up-container">
        <h1 class = "header-sign-up" align="center">Change password</h1>
        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">Current password</label>

            <input 
            type="password" 
            class = "input-register" 
            id="oldpassword" 
            name="oldpassword" 
            placeholder="Enter old password" >

        </div>

        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">New password</label>

            <input 
            type="password" 
            class = "input-register" 
            id="newpassword1" 
            name="newpassword1" 
            placeholder="Enter new password" >

        </div>
        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">New password</label>

            <input 
            type="password" 
            class = "input-register" 
            id="newpassword2" 
            name="newpassword2" 
            placeholder="Repeat new password" >

        </div>
        

        <div type="submit" class = "div-submit-button">
            <button class = "login-button">
                Submit
            </button>
        </div>
 
    </div>
</form>
{% endblock %}