{% extends "base.html" %}
{% block title %}{{ _('Sign Up') }}{% endblock %}




{% block content_section %}
<form method = "POST">
    <div class = "div-sign-up-container">
        <h1 class = "header-sign-up" align="center">{{ _('Sign Up') }}</h1>
        <div class = div-register-form>
            <label 
            class = "label-register" 
            for="email">{{ _('Email Address') }}</label>

            <input 
            type="email" 
            class = "input-register" 
            id="email" 
            name="email" 
            placeholder="Enter email" >

        </div>

        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="name">{{ _('Name') }}</label>

            <input 
            type="name" 
            class = "input-register" 
            id="name" 
            name="name" 
            placeholder="Enter name" >

        </div>

        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">{{ _('Password') }}</label>

            <input 
            type="password" 
            class = "input-register" 
            id="password1" 
            name="password1" 
            placeholder="Enter password" >

        </div>

        <div class = "div-register-form">
            <label 
            class = "label-register" 
            for="password">{{ _('Confirm Password') }}</label>
            
            <input 
            type="password" 
            class = "input-register" 
            id="password2" 
            name="password2" 
            placeholder="Enter password" >

        </div>
        <p>
            {{ _('Already have an account? Please') }} <a href = "/login">{{ _('Login') }}</a>.
        </p>

        <div class = "div-submit-button">
            <button class = "login-button">
                {{ _('Submit') }}
            </button>
        </div>
        
    </div>
</form>
{% endblock %}