.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
.div-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-top: 30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05)
    
}
.profile-info {
    
    padding: 5px;
    
}

.profile-label {
    font-weight: bold;
    font-size: 24px;
    
}
.profile-data {
    font-family: roboto, arial;
    font-size: 22px;
}
