.div-sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 50px;
    
    
    margin-right: 10%;
    margin-left: 10%;
}

.div-register-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    margin-top: 20px;
    
    
}
.header-sign-up {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.label-register {
    height: 22px;
    font-size: 22px;
    margin-bottom: 5px;
}
.input-register {
    margin-top: 5px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    
    border-color: rgb(209, 209, 209);
    
}

